<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="parts/head"></div>
<body  class="d-flex flex-column min-vh-100">



<div th:insert="parts/hotelHeader"></div>





<div class="container">
  <div class="row justify-content-around p-4 p-md-5 mt-4 rounded text-bg-dark bg-light">
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <input type="date" name="start" class="form-control"  th:value="${#dates.format(start, 'yyyy-MM-dd')}" readonly/>
      <small class="text-muted">Дата заселения</small>
    </div>
    <div class="col-md-6 mb-3">
      <input type="date" name="end" class="form-control ml-1" th:value="${#dates.format(end, 'yyyy-MM-dd')}" readonly/>
      <small class="text-muted">Дата окончания</small>
    </div>
    <div class="col-md-6 mb-3">
      <b th:text="${name}"></b><br>
    </div>
    <div class="col-md-6 mb-3">
      <b th:text="${phone}"></b><br>
    </div>
    <div class="col-md-6 mb-3">
      <b>Регистрация прошла успешна</b><br>
    </div>
    <div class="col-md-6 mb-3">
     <a class="link link-info rounded ml-2"  href="/">На главную</a>
    </div>
  </div>

</div>



</body>
</html>