<form th:fragment="aparts" th:each="apart : ${apart}" class="card p-2 mt-4 bg-light border-warning" id="available" >
  <div class="row">
    <div class="col-md-6 mb-3">
      <img th:src="${apart.imgUrl}" width="230" height="200" alt="">
    </div>
    <div class="col-md-6 mb-3">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted ml-4" th:text="${apart.classification}"></span>
      </h4>
      <div class="input-group mt-2">
        <span class="border  rounded ml-2" th:text="'  комнат | ' +${apart.rooms}"> <img class="ml-2" src="http://localhost:8082/file/download/room.png" width="35" height="35" alt=""> </span>
      </div>
      <div class="input-group mt-2">
        <span class="border  rounded ml-2" th:text="'  персон | ' +${apart.person}">  персон | <img class="ml-2" src="http://localhost:8082/file/download/group.png" width="35" height="35" alt=""> </span>
      </div>
      <div class="input-group mt-2">
        <b class="border  rounded ml-2" th:text="' стоимость  | ' +${apart.price}+ '$'"></b>
      </div>
      <div class="input-group mt-2">
        <a class="link link-info rounded ml-2" type="submit" href="#payment"> забронировать</a>
      </div>
    </div>
  </div>
</form>